@import url("./components/botao.css");
@media screen and (min-width: 0){
  .tela-game{
    display: flex;
    flex-direction: column;
    margin: 80px 10% 0 10%;
  }
  #forca{
    max-width: 90%;
    margin: 0 10% 0 10%;
  }
  .tela-game .menu-opcao{
    flex-direction: column;
    max-width: 90%;
    margin: 0 10% 0 10%;
  }
  .opcao-novo-jogo, .opcao-desisti{
    height: normal;
    width: 300px;
  }
  .opcao-novo-jogo{
    margin-bottom: 17px; 
  }
  .entrada-texto-celular{
    text-align: center;
  }
  #forca-entrada-texto{
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    outline: 0;
  }
}

@media screen and (min-width: 768px){
  .tela-game{
    margin: 0 40px 0 40px;
  }
  .tela-game .menu-opcao{
    flex-direction: row;
    justify-content: space-between;
  }
  .opcao-novo-jogo, .opcao-desisti{
    max-width: 400px;
    width: 45%;
  }
  .opcao-novo-jogo{
    margin-bottom: 0; 
  }
}

@media screen and (min-width: 1400px){
  .entrada-texto-celular{
    display: none;
  }
  .tela-game{
    width: 50%;
    margin: 120px auto 0 auto; 
  }
  .tela-game .menu-opcao{
    justify-content: space-around;
  }
  .opcao-novo-jogo{
    margin-right: 150px;
    
  }
  .cabecalho .logotipo-alura{
    position: absolute;
    top: 24px;
    left: 16px;
  }
}