@import url("./components/botao.css");
@media screen and (min-width: 0){
  .container{
    display: flex;
    flex-direction: column;
    margin: 80px 16px 0 16px;
  }
  .button-azul, .button-transparente{
    height: normal;
    width: 343px;
  }
  
}


@media screen and (min-width: 768px){
  .container{
    margin: 0 40px 0 40px;
  }

  .menu-opcao{
    flex-direction: row;
    justify-content: space-between;
  }
  .opcao-novo-jogo, .opcao-desisti{
    max-width: 350px;
    width: 45%;
  }
  .button-azul{
    margin-bottom: 0; 
  }
}

@media screen and (min-width: 1400px){
  .container{
    width: 50%;
    margin: 120px auto 0 auto; 
  }
  .menu-opcao{
    justify-content: flex-start;
  }
  .opcao-novo-jogo{
    margin-right: 100px;
    
  }
  .cabecalho .logotipo-alura{
    position: absolute;
    top: 24px;
    left: 16px;
  }
}