@import url("./components/botao.css");

@media screen and (min-width: 0){
  .container .tela-inicial{
    margin: 0 29px;  
  }
  .tela-inicial .menu-opcao{
    margin-top: 209px;
    flex-direction: column;
  }
  .opcao-jogar{
    height: 105px;
    width: 317px;
  }
  .opcao-adicionar-palavra{
    height: 67px;
    width: 293px;
  }
  .opcao-jogar{
    margin-bottom: 17px; 
  }
}

@media screen and (min-width: 768px){
  .tela-inicial .menu-opcao{
    margin-top: 280px;
  }
}

@media screen and (min-width: 1400px){
  .opcao-adicionar-palavra{
    background-color: #cbf4fc;
    color:#0A3871;
    height: 105px;
    width: 317px;
  }
  .opcao-jogar, .opcao-adicionar-palavra{
    font-size: 1.25rem;
  }
}